
 /*hero section*/

.hero-section{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    font-weight: 700;
    font-size: 1.5rem;
    color: #4E47FF;
    font-family: 'Raleway', sans-serif;
}

.hero-content {
    font-family: 'Raleway', sans-serif;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}


 .btn-primary{
    font-family: 'Raleway', sans-serif;
    font-size:smaller;
    color: white;
    background-color: #4E47FF;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 9px;
}


 /* ACTION SECTION */
 
.Action-section{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 50px 30px;
}

.text-content{
    max-width: 350px;
}
.image-content{
    width: 403;
    height: 328;
    overflow: hidden;
    border-radius: 48px;
}


