
 /*hero section*/
 body{
    position:relative;
    margin: 0;
    padding: 0;
    height: 400;
    width: 400;
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
 }


 /*Logo and btn*/
nav{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px;
    height: 60px;
    color: #4E47FF;
}
.header-nav-h3{
    font-size: large;
    font-weight: bolder;
}

nav ul li{
    list-style: none;
}


 /*center text and btn*/
 div{
    text-align: center;
 }
main{
    font-family: 'Raleway', sans-serif;

}

 .button-container ul li{
    list-style: none;
    align-items: center;
 }


 .btn-primary{
    font-family: 'Raleway', sans-serif;
    font-size:smaller;
    color: white;
    background-color: #4E47FF;
    border: none;
    padding: 10px 20px;
    border-radius: 9px;

 }